<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-notification" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginNotification</name>
    <js-module name="CordovaPluginNotification" src="www/CordovaPluginNotification.js">
        <clobbers target="AppNotification" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPluginNotification">
                <param name="ios-package" value="CordovaPluginNotification" />
            </feature>
        </config-file>
        <source-file src="src/ios/CordovaPluginNotification.swift" />
    </platform>
</plugin>
